*.env*
*.db*
*.pem
*.crt
*.key
/notes
/cert
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vite/deps/*
node_modules
dist
dist-ssr
*.local

certbot.ini

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?