.planet-container {

	display: grid;
	position: relative;
	overflow: auto;

	.labels {
		position: absolute;
		pointer-events: none;
	}
	
	.planet {
		width: 100%;
		height: 100%;
		overflow: auto;
		user-select: none;
	}
}