.connections {
	margin: 1rem;
	display: grid;
	gap: 1rem;

	.connection {
		padding: 2rem;
		outline: 1px solid #cccccc1f;
		border-radius: 15px;

		&.controls {
			display: grid;
			gap: 2rem;
			justify-content: center;
			align-items: center;
			grid-template-columns: 1fr max-content;
		}

		.status {
			font-size: x-large;
			position: fixed;
			right: 1.5rem;
			transform: translateY(-2rem);
		}

		h2 {
			text-align: center;
		}

		input[type="text"] {
			font-size: 16px;
			background-color: transparent;
			border-style: none;
			border-radius: 5px;
			padding: 0.5rem;
			text-align: center;
		}
	}
}