/* include border and padding in element width and height */
*,
*::before,
*::before {
	box-sizing: border-box;
}

/* override browser default */
/* use viewport-relative units to cover page fully */
html {
	height: 100svh;
}

body {
	height: 100svh;
	width: 100%;

	padding: 0;
	margin: 0;

	display: grid;
	grid-template-rows: 1fr min-content;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--separator-color: #ffffff50;
	--button-outline-color: #ffffff50;
	--subtext-color: #ffffff50;
	--background-color: #1f0e3c;
	--text-color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--background-color);
}


.offlineMessage {
	display: grid;
	align-items: center;
	min-height: 100svh;
	justify-content: center;
	touch-action: none;
}

.header {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
	gap: 1rem;
	/* border-bottom: 1px solid var(--separator-color); */
	align-items: center;
	touch-action: none;
	overflow: hidden;
	/* padding: 0.5rem; */

	.header-left {
		display: flex;
		column-gap: 1rem;
		flex-wrap: wrap;
		align-items: center;
	}

	.logo {
		text-wrap: nowrap;
		touch-action: none;
		position: relative;
		margin: auto;
		margin-inline: 1rem;
	}

	.stats {
		touch-action: none;
		font-size: small;
		/* display: flex;
		column-gap: 1rem;
		flex-wrap: wrap; */
		justify-content: center;

		opacity: 0.6;

		.userCount {
			touch-action: none;
			text-wrap: nowrap;
		}
	}
}

.user {
	overflow: hidden;
	display: flex;
	column-gap: 1rem;

	.name {
		overflow: hidden;
		text-overflow: ellipsis;
		padding-inline-start: 1rem;
	}
}

.user-view {
	display: grid;
	grid-template-rows: 1fr min-content;
	grid-auto-flow: row;
}

.middle {
	display: grid;
	transition: 500ms;
	position: relative;
	overflow: auto;

	/* &.no_call {
			grid-template-rows: 60px 1fr;
		} */

	&.server_wait {
		grid-template-rows: 1fr 1fr;
	}

	&.server_error {
		grid-template-rows: 1fr 1fr;
	}

	&.call_ready {
		grid-template-rows: 1fr 1fr;
	}

	&.call_connected {
		grid-template-rows: 60px 1fr;
	}

	.call_state_message {
		align-self: center;
		justify-self: center;
	}
}

.toolbar {
	padding: 1rem;
	/* border-top: 1px solid var(--separator-color); */
	bottom: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	gap: 1rem;
	justify-content: center;
	align-items: center;
	touch-action: none;

	container-type: inline-size;
	container-name: toolbar;

	input[type="text"] {
		touch-action: none;
		font-size: 16px;
		background-color: transparent;
		border-style: none;
		border-radius: 5px;
		padding: 0.5rem;
		text-align: center;
		flex-grow: 1;
	}

	.public-info {
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.buttons {
		display: flex;
		/* display: grid; */
		gap: 0.5rem;

		/* @container toolbar (width < 400px) {
				display: flex;
			} */
	}

}

.centered-content {
	display: grid;
	place-content: center;
}

.planet {
	canvas {
		width: 100%;
		height: 100%;
	}
}

.congraph {
	overflow: hidden;
}

.avatar {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-wrap: nowrap;
	overflow: hidden;


	&.button {
		cursor: pointer;
		border: 1px solid var(--button-outline-color);
		border-radius: 5px;

		.name {
			position: relative;
			font-weight: bold;
		}

		img {
			max-width: 1.75rem;
		}
	}

	&.list-item {
		padding-inline: 1rem;
		filter: opacity(0.5) blur(0.7px);

		&.online {
			filter: opacity(1)
		}

		.avatar-color {
			width: 1rem;
			height: 1rem;
			border-radius: 25%;
			border: 0.5px solid;
		}

		.avatar-image {
			width: 1.4rem;
			height: 1.4rem;
			border-radius: 25%;
		}
	}
}

.room-button {
	color: white;
	font-size: x-large;
	border: 1px solid;
	border-radius: 5px;
	padding-inline: 1rem;
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
	text-wrap: nowrap;
	touch-action: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.color-picker {
	border-radius: 50%;
	border: 1px solid white;
	position: relative;
	overflow: hidden;

	.color-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
		width: 2rem;
		height: 1rem;
		border: none;
		cursor: pointer;

		&::-webkit-color-swatch-wrapper {
			position: absolute;
			padding: 0;
			top: 0;
			left: 0;
		}

		&::-webkit-color-swatch {
			border: none;
		}

		&::-moz-color-swatch {
			border: none;
		}
	}
}