/* override browser default */
html,
body {
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	width: 100%;
}

/* include border and padding in element width and height */
* {
	box-sizing: border-box;
}

div#root {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: min-content 1fr;
	height: 100svh;
}

.offlineMessage {
	display: grid;
	align-items: center;
	min-height: 100svh;
	justify-content: center;
	touch-action: none;
}

.header {
	display: flex;
	gap: 2rem;
	border-bottom: 1px solid;
	align-items: center;
	touch-action: none;
	backdrop-filter: blur(10px);
	/* position: sticky;
    top: 0; */

	.logo {
		padding-left: 2rem;
		text-wrap: nowrap;
		touch-action: none;
		position: relative;
	}

	.logo::after {
		content: "chat with people, not ai";
		position: absolute;
		font-size: x-small;
		bottom: -0.5rem;
		right: 0;
		color: #ffffff99;
	}

	.stats {
		touch-action: none;

		.userCount {
			touch-action: none;
			text-wrap: nowrap;
		}
	}
}

.user-view {
	display: grid;
	grid-template-rows: 1fr min-content;
	grid-auto-flow: row;

	.middle {
		display: grid;
		grid-template-rows: 1fr 0fr;
		transition: 500ms;

		/* &.no_call {
			grid-template-rows: 60px 1fr;
		} */

		&.server_wait {
			grid-template-rows: 1fr 1fr;
		}

		&.server_error {
			grid-template-rows: 1fr 1fr;
		}

		&.call_ready {
			grid-template-rows: 1fr 1fr;
		}

		&.call_connected {
			grid-template-rows: 60px 1fr;
		}

		.call_state_message {
			align-self: center;
			justify-self: center;
		}
	}


	.toolbar {
		padding: 1rem;
		border-top: 1px solid;
		position: sticky;
		bottom: 0;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		gap: 1rem;
		justify-content: center;
		align-items: center;
		touch-action: none;

		backdrop-filter: saturate(3.5) brightness(0.3) blur(20px);
		background-color: #1f0e3c;

		container-type: inline-size;
		container-name: toolbar;

		input[type="text"] {
			touch-action: none;
			font-size: 16px;
			background-color: transparent;
			border-style: none;
			border-radius: 5px;
			padding: 0.5rem;
			text-align: center;
			flex-grow: 1;
		}

		.public-info {
			flex-grow: 1;
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		.buttons {
			display: flex;
			/* display: grid; */
			gap: 0.5rem;

			/* @container toolbar (width < 400px) {
				display: flex;
			} */
		}

	}
}

.avatar {

	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 1px solid;
	border-radius: 50px;
	padding-inline-end: 2rem;
	text-wrap: nowrap;

	div {
		position: relative;
		font-weight: bold;

		&::after {
			content: "tap to logout";
			position: absolute;
			font-size: x-small;
			bottom: -0.5rem;
			left: 0;
			color: #ffffff50;
		}
	}

	img {
		max-width: 39px;
		border-radius: 50%;
	}
}

.rooms {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	border-bottom: 1px solid;
	padding: 1.5rem;
	align-content: stretch;
	touch-action: none;
	position: relative;

	.userCount {
		font-size: x-small;
		text-align: center;
		margin-bottom: 0.5rem;
	}

	/* &::before {
		content: "rooms";
		top: -1.1rem;
		position: absolute;
		color: #ffffff0d;
		font-size: 50px;
		font-weight: bolder;
		z-index: -1;
		left: -0.1rem;
		text-transform: uppercase;
	} */
}

.room-button {
	color: white;
	font-size: xx-large;
	border: 1px solid;
	border-radius: 5px;
	padding-inline: 1rem;
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
	text-wrap: nowrap;
	touch-action: none;
	text-decoration: none;
}

.color-button {
	color: white;
	font-size: xx-large;
	border: 1px solid;
	border-radius: 5px;
	padding-inline: 1rem;
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
	text-wrap: nowrap;
	touch-action: none;
	text-align: center;
	position: relative;

	span {
		pointer-events: none;
		position: relative;
		z-index: 1;
	}

	input[type="color"] {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background: none;
		cursor: pointer;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/* chrome override default padding 
	https://rebeccamdeprey.com/blog/styling-the-html-color-input
	*/
	input[type="color" i]::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	input[type="color" i]::-webkit-color-swatch,
	input[type="color" i]::-moz-color-swatch {
		border: none;
		border-radius: 0;
	}
}

.connections {
	margin: 1rem;
	display: grid;
	gap: 1rem;
	touch-action: none;

	.connection {
		padding-block: 1rem;
		padding-inline: 2rem;
		border-radius: 15px;
		border: 1px solid #cccccc1f;
		box-shadow: 2px 2px 15px #0000004a;

		display: grid;
		gap: 1rem;
		justify-content: center;
		align-items: center;
		grid-template-columns: minmax(1rem, 1fr) min-content min-content;
		touch-action: none;


		.status {
			touch-action: none;
			font-size: x-large;
			position: fixed;
			right: 1.5rem;
			transform: translateY(-2rem);
		}

		h2 {
			touch-action: none;
			text-align: center;
			margin: auto;
		}
	}
}