.people {
	display: grid;
	grid-template-columns: min-content 1fr;
	overflow: auto;

	@media (max-width: 700px) {
		grid-template-rows: minmax(0, 1fr);
        grid-template-columns: unset;
        overflow: auto;
	}
}
