.settings {
	border: 1px solid var(--button-outline-color);
	border-radius: 5px;
	padding: initial;
	
	&::backdrop {
		backdrop-filter: blur(2px) brightness(0.5);
	}
	
	.layout {
		display: grid;
		padding: 2rem;
		gap: 1rem;

		h2 {
			margin-block: auto;
		}

		.settingsList {
			display: grid;
			row-gap: 0.25rem;
		}

		.buttons {
			display: flex;
			justify-content: space-between;
		}
	}
}

.settingCheckBox {
	display: flex;
	gap: 0.5rem;
}