.settings {
	border: 1px solid var(--button-outline-color);
	border-radius: 5px;
	padding: 1rem;

	&::backdrop {
		backdrop-filter: blur(2px) brightness(0.5);
	}

	.layout {
		display: grid;
		gap: 1rem;

		h2 {
			margin-block: auto;
		}

		.buttons {
			display: flex;
			justify-content: space-between;
		}
	}

}