.video-call {
	position: absolute;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: 1rem;


	video {
		border-radius: 15px;
		max-width: 150px;
		max-height: 150px;
		z-index: 1;
	}

	.local {
		transform: scaleX(-1);
		transition: all 0.6s;
	}

	.alone {
		transform: scaleX(-1);
		max-width: 100px;
		z-index: 1;
		position: fixed;
		top: 0.5rem;
		right: 0.5rem;
	}
}