.call_container {

	margin-bottom: 2rem;

	.videos {
		position: relative;
		padding: 1rem;

		video {
			box-shadow: 0px 0px 15px #00000087;
			border-radius: 15px;
		}

		.local {
			transform: scaleX(-1);
			max-width: 100px;
			z-index: 1;
			position: fixed;
			top: 0.5rem;
			right: 0.5rem;
		}

		.remote {
			max-width: 100%;
		}
	}
}