.video-call {
	position: absolute;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
	align-items: center;
	justify-content: center;
	gap: 1rem;
	overflow: hidden;
	z-index: 1;
	padding: 1rem;

	.video-ui {
		justify-items: center;
		max-width: 150px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;

		.name {
			text-overflow: ellipsis;
            max-width: inherit;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            backdrop-filter: brightness(0.5);
            border-radius: 0.5rem;
            padding-inline: 0.5rem;
            font-size: x-small;
		}

		video {
			border-radius: 10px;
			max-width: 100%;
		}
	}

	.local {
		transition: all 0.6s;

		video {
			transform: scaleX(-1);
		}
	}

	.alone {
		.name {
			display: none;
		}

		video {
			max-width: 150px;
			transform: scale(0.5) translateX(10px);
			/* position: fixed;
			top: 0;
			right: 0; */
		}
	}
}